mat-card {
  padding: 0
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

li a {
  color: #2c98e8;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', serif;
}